<p>
   wings works!
</p>
<p>
  wings works!
</p><p>
  wings works!
</p><p>
  wings works!
</p><p>
  wings works!
</p>
<ul>
  <li *ngFor= "let wing of _wings" > <b> hello</b> {{wing.name}} </li>  
</ul>